<form hx-post="{% url 'add-film' %}" hx-target='#film-list' class="d-flex align-items-center" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' id="add-film-form" hx-swap-oob="true">
    <input type="text" name="filmname" class="form-control-sm mr-2" placeholder="Enter a film" required/>
    <button hx-post="{% url 'add-film' %}" hx-target="#film_list" type="submit" class="btn btn-success btn-sm" hx-swap="afterbegin">Add Film</button>
</form>


<li class="list-group-item d-flex justify-content-between align-items-center" id="film_{{film.id}}">
    {{ film.name }}
    <span class="badge badge-danger badge-pill" 
        style="cursor: pointer;"
        hx-delete="{% url 'delete-film' film.pk %}"
        hx-target="#film_{{film.id}}"
        hx-confirm="Are you sure you wish to delete?"
        hx-swap="delete"
        >X</span>
</li>